<div class="login-box" *ngIf="!(isLoggingIn$ | async)">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <mat-form-field class="full-width">
            <input matInput type="email" id="email" placeholder="Email" formControlName="email" required >
            <mat-error  *ngIf="loginForm.get('email').hasError('email')">
                Please provide a valid email
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="password" id="password" placeholder="Password" formControlName="password" required >
        </mat-form-field>
        <div *ngIf="error" class="error">
                {{error}}
        </div>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
        <br>
    </form>
</div>

<ng-container *ngIf="isLoggingIn$ | async">
    <div class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>