:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter-box {
    .mat-form-field {
        width: 260px;
    }
}

table {
    width: 100%;
}