<div class="filter-box">
    <mat-form-field>
        <input matInput type="text" (keyup)="filterData($event.target.value)" placeholder="Filter by title or username">
    </mat-form-field>
</div>
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let post"> {{post.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>
    <!-- User Column -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let post"> {{post.username}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openPost(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>